
#title {
    position: absolute;
    top: 0;
    right: 0;
    padding: 35px 5rem 0 0;
    font-family: 'FreightSans Pro';
    font-weight: 600;
    font-size: 2rem;
    margin-top: -1rem;
}


#description {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 3.5rem;
    margin-left: 60%;
    padding: 0 5rem 0 0;
    font-family: 'FreightSans Pro';
    font-size: 0.8rem;
    
}

#refresh {
    position: absolute;
    right: 0;
    top: 0;
    padding: 1.5rem 1rem 0 0;
    max-width: 30px;

}

.icon {
	max-height: 30px;
	padding: 20px 10px;	
}



body {
    max-height: 100vh;
    background-color: #0079CB;
}

#hero {
    position: absolute;
    max-height: 100%;
    bottom: 0;
    
}
